Repository marcospont/agnostic-draggable: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
	"*.js": ["eslint --cache --fix", "prettier --write"],
	"*.json": "prettier --write"
}

chore(lint): format yml files on pre-commit hook
  .eslintrc.yml
  .husky/pre-push
  .lintstagedrc.json
Due: prettier --write

chore(lint): format yml files on pre-commit hook
  .eslintrc.yml
Due: none

chore(release): 1.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

revert: remove change introduced by #2
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

fix: helper and placeholder size sync was not working
  examples/index.html
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

feat: added new option hidePlaceholder
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

chore(deps): update npm dependencies
  package.json
  rollup.config.js
Due: eslint --cache --fix, prettier --write

build\!: drop support for node 10
  package.json
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update sortable options documentation
  README.md
Due: none

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: helper/placeholder size sync should not consider padding
  examples/index.html
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: improve sortable event arguments
  src/sortable/sortable-event.js
  src/sortable/sortable.js
  src/util/index.js
Due: eslint --cache --fix, prettier --write

docs: added documentation about all event arguments
  README.md
Due: none

chore: update npm dependencies
  package.json
Due: prettier --write

chore: added yarn lockfile
  yarn.lock
Due: none

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(draggable): drag:stop event should not be cancelable
  src/draggable/drag-event.js
Due: eslint --cache --fix, prettier --write

feat(sensor): added mouse:down event to mouse sensor
  src/sensor/mouse-event.js
  src/sensor/mouse-sensor.js
Due: eslint --cache --fix, prettier --write

build: package will now include a minified and a non minified version of the library
  package.json
  rollup.config.js
Due: eslint --cache --fix, prettier --write

feat: plugins refactored to reference the parent widget as 'container'
  src/draggable/draggable.js
  src/plugin/auto-scroll.js
  src/plugin/axis-constraint.js
  src/plugin/connect-to-sortable.js
  src/plugin/drag-containment-constraint.js
  src/plugin/drag-grid-constraint.js
  src/plugin/index.js
  src/plugin/plugin.js
  src/plugin/stack-controller.js
  src/plugin/style-decorator.js
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

feat(resizable): ported resizable widget from jquery ui
  src/index.js
  src/plugin/resize-animate.js
  src/plugin/resize-containment-constraint.js
  src/plugin/resize-ghost.js
  src/plugin/resize-grid-constraint.js
  src/resizable/index.js
  src/resizable/resizable-event.js
  src/resizable/resizable.js
  src/resizable/resize-event.js
  src/resizable/resize-transforms.js
  src/util/constants.js
  src/util/index.js
Due: eslint --cache --fix, prettier --write

chore(examples): improved css and added resizable example
  examples/index.html
  examples/jquery-ui.html
Due: none

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(resizable): event listeners were not being destroyed correctly
  src/resizable/resizable.js
  src/util/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stop propagation of events being cancelled
  src/sensor/mouse-sensor.js
Due: eslint --cache --fix, prettier --write

fix: use the mouse event api to create events
  src/util/index.js
Due: eslint --cache --fix, prettier --write

feat: added proxy methods to prevent default and stop propagation using the original event
  src/sensor/sensor-event.js
Due: eslint --cache --fix, prettier --write

fix: trigger mouse stop when cancelling a start event but not when cancelling a move event
  src/draggable/draggable.js
  src/resizable/resizable.js
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: revert calling stop propagation, avoid error conditions during resize start
  src/resizable/resizable.js
  src/sensor/mouse-sensor.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(resizable): ensure pressing flag is always turned off
  src/resizable/resizable.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: prevent unwanted condition when destroying a resizable instance
  src/resizable/resizable.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix: force border box sizing when resizing the sortable helper
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

fix: text selection wasn't working for non draggable, sortable or resizable elements
  src/draggable/draggable.js
  src/resizable/resizable.js
  src/sensor/mouse-event.js
  src/sensor/mouse-sensor.js
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write
