Repository marcospont/agnostic-draggable: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
	"*.js": ["eslint --cache --fix", "prettier --write"],
	"*.json": "prettier --write"
}

chore(release): 1.4.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): minor dependency upgrades
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.4.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix: show/hide helpers were not working properly in some scenarios
  src/util/index.js
Due: eslint --cache --fix, prettier --write

chore(deps): dependency upgrades
  .eslintrc.json
  .eslintrc.yml
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

chore(examples): minor style fixes and script position
  examples/index.html
Due: none

chore(release): 1.4.6
  CHANGELOG.md
  package.json
Due: prettier --write

Solved right click after you drag something
  src/sensor/mouse-sensor.js
Due: eslint --cache --fix, prettier --write

solved triggers
  src/droppable/droppable.js
  src/manager/manager.js
Due: eslint --cache --fix, prettier --write

feat: added a 'setOption' method on draggable, droppable, sortable and resizable widgets to allow dynamic overriding of component options
  README.md
  examples/index.html
  src/draggable/draggable.js
  src/droppable/droppable.js
  src/plugin/resize-containment-constraint.js
  src/resizable/resizable.js
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

fix: contextmenu event was not being properly removed
  src/sensor/mouse-sensor.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): dependency upgrades
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

chore(release): 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: added resizable documentation, improved event arguments documentation for draggable, droppable and sortable
  .gitignore
  README.md
Due: none

fix: fixed bad handling of 'revert' option for draggable/sortable
  src/draggable/draggable.js
  src/droppable/droppable.js
  src/resizable/resizable.js
  src/sortable/sortable.js
Due: eslint --cache --fix, prettier --write

feat: dev tools upgrades: eslint, prettier, husky
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .husky/pre-push
  eslint.config.js
  package.json
  src/draggable/draggable.js
  src/resizable/resizable.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: remove global directives provided by 'globals' package
  src/droppable/droppable.js
  src/plugin/style-decorator.js
  src/sensor/mouse-sensor.js
  src/sortable/sortable.js
  src/util/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write
